


*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body
{
    height:100vh;
    width:100vw;
    background-image: url(./Pictures/viber_image_2022-09-07_15-54-04-496.jpg);
    background-position: center;
}

.cuticle
{
    height:18vh;
    display:flex;
    justify-content: space-between;
    align-items:center;
    
}

.cuticle h1
{
    margin-left: 6rem;
    font-size: 52px;
    color:whitesmoke;
}
.cuticle h1 a
{
    color:white;
    text-decoration:none;
}
span{
    color:rgb(102, 255, 0);
}


.cuticle li
{
    display: inline-block;
    margin:2rem;
    text-decoration: none;
    margin-bottom:18px;
    margin-left: 5px;
}

.cuticle li a
{
    text-decoration: none;
    font-size:19px;
    font-weight:600;
    color: aliceblue;
    transition:all 45s.ease;
}

.cuticle li a:hover
{
color:rgb(255, 187, 0);
}



.cell 
{
margin-left: 48rem;
margin-top: 11rem;

}


.cell h1
{
    font-size:30px;
    color:white;
    margin-bottom: 15px;
}

.cell h2
{
    font-size:78px;
    margin-bottom:15px;
    color:transparent;
    -webkit-text-stroke: 1.5px rgb(251, 249, 249);
    background: url(./Pictures/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 17s linear infinite;

}
@keyframes back {
    100%{
        background-position: 2000px 0;
    }
    
}

.cell h3
{
    color:white;
    font-size:25px;
}


.tortoise
{
    position:absolute;
    right:650px;
    bottom:150px;
}

.tortoise img
{
    
    width:25px;
    margin:30px 7px;

}





input[type="checkbox"]
{
    display:none;
}

label[for="hamburger"]
{
    display:none;
}
@media screen and (max-width: 800px)
{
    .blood
    {
        display: none;
    }
    label[for="hamburger"]
{
    display: inline-block;
    font-size: 60px;
    margin-right: 2rem;
}
}




/* Page of the Contact Page starts*/
.frog
{
    position:absolute;
    text-align:center;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:whitesmoke;
    text-align:center;
    width:500px;
    background:#5c4dae ;
    border-radius:10px;
    left:65%;
    margin-top:2%;
}

input
{
    width:35%;
    border:2px solid;
    padding:7px 15px;
    border-radius: 10px;
}

textarea
{
    border:2px solid;
    resize:none;
    border-radius: 10px;
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button
{
    background-color:rgb(208, 223, 39);
    width:80px;
    padding:5px 20px;
    border-radius: 10px;
    cursor:pointer;

}

/*Contact Page Style Ends*/

/*Portfolio Page Style Starts*/


.mobile
{
    padding:14px 10%;
    padding-bottom: 90px;
}
.mobile .heading
{
    text-align: center;
    padding-bottom: 13px;
    color:rgb(191, 255, 0);
    font-size:65px;
}
.mobile .kidney
{
   
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,2fr));
    gap:25px;
}

.mobile .kidney .lungs
{
    background-color: white;
    box-shadow:0px 8px 19px black;
    border-radius:15px;
    text-align:center;
    padding:25px 15px; 
}

.mobile .kidney .lungs img
{
    height: 200px;
    width:200px;

}
.mobile .kidney .lungs h3
{
    color:rgb(0, 0, 0);
    font-size: 21px;
}

.mobile .kidney .lungs p
{
    color:rgb(8, 7, 7);
    font-size:16px;
    line-height: 1.8;
}

.mobile .kidney .lungs .btn
{
    margin-top:19px;
    display:inline-block;
    background: #3318cc;
    color:bisque;
    font-size: 18px;
    border-radius: 8px;
    padding:10px 20px;
    text-decoration: none;
}

.mobile .kidney .lungs .btn:hover
{
    letter-spacing: 2px;
}

.mobile .kidney .lungs .btn:hover
{
    box-shadow: 0px 8px 13px black;
    transform:scale(1.06);
}

@media(max-width:768px){
    .container{
        padding:19px;
    }
   
}


/*Portfolio Page ENDS*/


/*Site Report Page Starts*/

