*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body
{
    height:100vh;
    width:100vw;
    background-image: url(./Pictures/viber_image_2022-09-07_15-54-04-496.jpg);
    background-position: center;
}

.cuticle
{
    height:18vh;
    display:flex;
    justify-content: space-between;
    align-items:center;
    
}

.cuticle h1
{
    margin-left: 6rem;
    font-size: 52px;
    color:whitesmoke;
}
.cuticle h1 a
{
    color:white;
    text-decoration:none;
}
span{
    color:rgb(102, 255, 0);
}


.cuticle li
{
    display: inline-block;
    margin:2rem;
    text-decoration: none;
    margin-bottom:18px;
    margin-left: 5px;
}

.cuticle li a
{
    text-decoration: none;
    font-size:19px;
    font-weight:600;
    color: aliceblue;
    transition:all 45s.ease;
}

.cuticle li a:hover
{
color:rgb(255, 187, 0);
}



.cell 
{
margin-left: 48rem;
margin-top: 11rem;

}


.cell h1
{
    font-size:30px;
    color:white;
    margin-bottom: 15px;
}

.cell h2
{
    font-size:68px;
    margin-bottom:15px;
    color:transparent;
    -webkit-text-stroke: 1.5px rgb(251, 249, 249);
    background: url(./Pictures/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 17s linear infinite;

}
@keyframes back {
    100%{
        background-position: 2000px 0;
    }
    
}

.cell h3
{
    color:white;
    font-size:25px;
}


.tortoise
{
    position:absolute;
    right:4px;
    bottom:8px;
}

.tortoise img
{

    width:25px;
    display:block;
    margin:35px 7px;
}



input[type="checkbox"]
{
    display:none;
}

label[for="hamburger"]
{
    display:none;
}
@media screen and (max-width: 800px)
{
    .blood
    {
        display: none;
    }
    label[for="hamburger"]
{
    display: inline-block;
    font-size: 60px;
    margin-right: 2rem;
}